.item-index {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 0 5%;
    width: 90%;
    margin: auto;
}

.item-index__item-group {
    margin-top: 50px;
    text-align: left;
}

.image-container--square {
    width: 240px;
    height: 240px;
    background: #d9d9d9;
}

.image-container__image {
    width: 100%;
}

.item-name {
    font-size: 16px;
    padding-top: 5px;
    margin: 0;
    color: #000;
}

@media screen and (max-width:850px) {
    .item-index {
        grid-template-columns: repeat(4, 120px);
        gap: 0 10px;
    }

    .image-container--square {
        width: 120px;
        height: 120px;
    }
}