.profile-group {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 50px auto;
    align-items: center;
}

.profile-group__user-info {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.profile-group__user-name {
    font-size: 24px;
    font-weight: bold;
}

.image-group {
    align-items: center;
}

.image-container {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.image-container__image {
    object-fit: cover;
}

.preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: none;
}

.link-bottun--border {
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
}

.input-image {
    display: none;
}

@media screen and (max-width:850px) {
    .profile-group {
        width: 100%;
    }

    .profile-group__user-name {
        font-size: 20px;
    }
}