.image-group {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.image-container--circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #d9d9d9;
}

.image-container__image {
    width: 100%;
}

.link-bottun--border {
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
}

.input-image {
    display: none;
}