.content--large {
    padding: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.purchase-input {
    width: 100%;
    grid-column: 1/2;
}

.item-group {
    display: flex;
    align-items: flex-start;
}

.image-container--square {
    margin-right: 5%;
}

.item-name,
.item-price {
    font-size: 28px;
}

.item-name {
    font-weight: bold;
    margin-bottom: 10%;
}

.form-group {
    margin-top: 40px;
}

.purchase-table {
    width: 90%;
    border-top: 1px solid #000;
}

.purchase-table__th {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.purchase-table__tr {
    border-bottom: 1px solid #000;
}

td {
    padding: 20px;
}

.purchase-table__td {
    padding-left: 10%;
}

.purchase-table__input {
    font-size: 16px;
    font-weight: bold;
    display: block;
    border: none;
    line-height: 20px;
    pointer-events: none;
}

.purchase-table__select {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    font-size: 16px;
}

.purchase-table__link {
    font-size: 16px;
    color: #0073cc;
}

.info-group {
    grid-column: 2/3;
}

.info-group__table {
    width: 100%;
    border: 1px solid #000;
}

.info-group__tr {
    height: 60px;
}

.info-group__tr:first-child {
    border-bottom: 1px solid #000;
}

.info-group__th,
.info-group__td {
    font-size: 16px;
}

.info-group__td {
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:850px) {
    .image-container--square {
        width: 150px;
    }

    .item-name,
    .item-price {
        font-size: 24px;
    }

    .purchase-table__select {
        width: 100%;
    }
}